[package]
name = "uzkv-attestor"
version = "1.0.0"
edition = "2021"
rust-version = "1.75"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
stylus-sdk = "0.5.0"
wee_alloc = "0.4.5"

[profile.release]
codegen-units = 1
panic = "abort"
opt-level = "z"
strip = "symbols"
lto = "fat"

[features]
default = []
export-abi = ["stylus-sdk/export-abi"]
